<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxufe.sight.mapper.ProvinceVisualizationMapper">
    <select id="findById" resultType="ProvinceVisualizationVO" parameterType="long">
        select t1.id as id,t1.sightId as sightId,t1.*,t2.* from t_sightinfo as t1 join t_sightupdateinfo as t2 on t1.sightId=t2.sightId
        where t1.id=#{id}
    </select>
    <select id="findBySightId" resultType="ProvinceVisualizationVO" parameterType="string">
        select t1.id as id,t1.sightId as sightId,t1.*,t2.* from t_sightinfo as t1 join t_sightupdateinfo as t2 on t1.sightId=t2.sightId
        where t1.sightId=#{sightId}
    </select>
    <select id="getProvinceSaleCountTop10" resultType="ProvinceVisualizationVO" parameterType="string">
        SELECT sightName,star,city,saleCount FROM t_sightinfo as t1 INNER JOIN t_sightmonthlysalecount as t2 on t1.sightId=t2.sightId
        where t1.province=#{province} ORDER BY saleCount DESC LIMIT 10
    </select>
    <select id="getCitySightNum" resultType="java.util.HashMap">
        SELECT t1.sightName as sightName,t1.star as star,t2.saleCount as value FROM t_sightinfo as t1 INNER JOIN t_sightmonthlysalecount as t2 on t1.sightId=t2.sightId where province=#{province}
    </select>
    <select id="getCityCoord" resultType="java.util.HashMap">
        SELECT sightName,point as value FROM t_sightinfo where province=#{province}
    </select>
    <select id="getPriceOfSight" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT t1.sightId) as value FROM t_sightinfo as t1 INNER JOIN t_sightupdateinfo as t2 ON t1.sightId=t2.sightId
        WHERE province=#{province} and qunarPrice BETWEEN #{start} AND #{end}
    </select>
    <select id="getStarOfSight" resultType="java.util.HashMap" parameterType="string">
        SELECT star,count(DISTINCT sightId) as value from t_sightinfo where t_sightinfo.province=#{province} group by star
    </select>
    <select id="getCitySightNumTop5" resultType="java.util.HashMap" parameterType="string">
        SELECT city,COUNT(CASE WHEN star is NULL THEN '1' END ) as other,
        COUNT(CASE WHEN star='3A' THEN '1' END ) as 3A,
        COUNT(CASE WHEN star='4A' THEN '1' END ) as 4A,
        COUNT(CASE WHEN star='5A' THEN '1' END ) as 5A
        FROM t_sightinfo where province=#{province} GROUP BY city ORDER BY COUNT(sightId) DESC LIMIT 5
    </select>
    <select id="getSumSaleCount" resultType="java.lang.Integer" parameterType="string">
        SELECT SUM(saleCount) as value FROM t_sightmonthlysalecount
        where t_sightmonthlysalecount.sightId in (select  sightId from t_sightinfo where t_sightinfo.province=#{province})
    </select>
    <select id="getCitySaleCountTop5" resultType="java.util.HashMap" parameterType="string">
        SELECT city,SUM(saleCount) as value FROM t_sightinfo INNER JOIN t_sightmonthlysalecount
        on t_sightinfo.sightId=t_sightmonthlysalecount.sightId and t_sightinfo.province=#{province}
        GROUP BY city ORDER BY SUM(saleCount) DESC LIMIT 5
    </select>
    <select id="getSumSaleCountGroupByStar" resultType="java.util.HashMap" parameterType="string">
        SELECT star,SUM(saleCount) as value FROM t_sightinfo INNER JOIN t_sightmonthlysalecount
        on t_sightinfo.sightId=t_sightmonthlysalecount.sightId and t_sightinfo.province=#{province} GROUP BY star
    </select>
</mapper>