<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxufe.sight.mapper.TravelCommentMapper">
    <insert id="saveTravelComment" parameterType="TravelComment" useGeneratedKeys="true" keyProperty="id">
        insert into t_travel_comment(id,comment,from_uid,travel_id)
            values (null,#{travelComment.comment},#{travelComment.from_uid},#{travelComment.travel_id})
    </insert>
    <select id="findAllTravelComment" parameterType="Long" resultType="TravelComment">
        select * from t_travel_comment where travel_id = #{travelId} order by create_time desc
    </select>
    <select id="findAllTravelReplyComment" parameterType="Long" resultType="TravelReplyComment">
        select * from t_travel_reply where comment_id = #{commentId} order by create_time desc
    </select>
    <select id="findTravelCommentById" parameterType="Long" resultType="TravelComment">
        select * from t_travel_comment where id = #{id}
    </select>
    <insert id="saveTravelReplyComment" parameterType="TravelReplyComment" useGeneratedKeys="true" keyProperty="id">
        insert into t_travel_reply(id,reply,from_user_avatar,from_user_nickname,to_user_nickname,comment_id)
        values (null,#{travelReplyComment.reply},#{travelReplyComment.from_user_avatar},#{travelReplyComment.from_user_nickname},#{travelReplyComment.to_user_nickname},#{travelReplyComment.comment_id})
    </insert>
    <select id="findTravelReplyComment" parameterType="Long" resultType="TravelReplyComment">
        select * from t_travel_reply where id = #{id}
    </select>
</mapper>