<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/clientFragment::head('eTravel')}"></head>
	<body>
		<!-- Left Panel -->
		<aside th:replace="~{fragments/clientFragment::aside}"></aside>
		<!-- Left Panel -->
		<!-- Right Panel -->
		<div id="right-panel" class="right-panel">
			<!-- Header-->
			<header id="header" class="header" th:replace="~{fragments/clientFragment::rightPanelHeader}"></header>
			<!-- /header -->
			<div id="main" class="container" style="padding-top: 50px;">
				<header id="title" th:text="|${city}·${sightName}评论分析|">哈尔滨冰雪大世界</header>
				<div class="row" style="height:300px;">
					<div id="pie" class="col-sm-6 col-md-6 col-lg-6" style="padding-left: 20px;"></div>
					<div id="bar" class="col-sm-6 col-md-6 col-lg-6" style="padding-right: 20px;"></div>
				</div>
				<header id="header1">好评词云</header>
				<div class="row self-padd">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<header class="self-sub-header">形容词</header>
						<div id="ga" style="height: 500px;"></div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<header class="self-sub-header">名词</header>
						<div id="gn" style="height: 500px;"></div>
					</div>
				</div>
				<header id="header2">差评词云</header>
				<div class="row self-padd">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<header class="self-sub-header">形容词</header>
						<div id="ba" style="height: 500px;"></div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<header class="self-sub-header">名词</header>
						<div id="bn" style="height: 500px;"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Right Panel -->

		<!-- Scripts -->
		<th:block th:replace="~{fragments/clientFragment::js}"></th:block>
		<script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.js"></script>
		<script src="../../static/js/word-cloud.js" th:src="@{/js/word-cloud.js}"></script>

		<script type="text/javascript" th:inline="javascript">
			var maskImage = new Image();
			maskImage.src = "img/chinamap.jpg";

			function generatePie(data) {
				//生成饼图
				var pie = echarts.init(document.getElementById('pie'));
				pieOption = {
					title: {
						text: '各评论比例',
						left: 'center'
					},
					tooltip: {
						trigger: 'item',
						formatter: '{a} <br/>{b} : {c} ({d}%)'
					},
					legend: {
						orient: 'vertical',
						left: '20%',
						data: ['好评', '差评', '其他']
					},
					series: [{
						name: '访问来源',
						type: 'pie',
						radius: '70%',
						center: ['50%', '60%'],
						data: [{
								value: data.goodCommentAmount,
								name: '好评'
							},
							{
								value: data.badCommentAmount,
								name: '差评'
							},
							{
								value: (data.sumAmount - data.goodCommentAmount - data.badCommentAmount),
								name: '其他'
							}
						],
						emphasis: {
							itemStyle: {
								shadowBlur: 20,
								shadowOffsetX: 5,
								shadowColor: 'rgba(0, 0, 0, 0.5)'
							}
						}
					}]
				};
				pie.setOption(pieOption);
				window.addEventListener("resize", function() {
					pie.resize();
				});
			}

			function generateBar(data) {
				//生成柱状图
				var bar = echarts.init(document.getElementById('bar'));
				barOption = {
					title: {
						text: '各评论数量',
						left: 'center'
					},
					tooltip: {
						trigger: 'axis',
						formatter: '{b} : {c}'
					},
					xAxis: {
						type: 'category',
						data: ['好评', '差评', '其他评论']
					},
					yAxis: {
						name: '数量',
						type: 'value'
					},
					series: [{
						data: [{
							value: data.goodCommentAmount,
							label: {
								show: 'true',
								position: 'top'
							},
							itemStyle: {
								// color:'	#B22222'
							}
						}, {
							value: data.badCommentAmount,
							label: {
								show: 'true',
								position: 'top'
							},
							itemStyle: {
								color: '#528B8B'
							}
						}, {
							value: (data.sumAmount - data.goodCommentAmount - data.badCommentAmount),
							label: {
								show: 'true',
								position: 'top'
							},
							itemStyle: {
								color: '#36648B'
							}
						}],
						type: 'bar',
						showBackground: true,
						barMaxWidth: '50%',
						backgroundStyle: {
							color: 'rgba(220, 220, 220, 0.8)'
						}
					}]
				};

				bar.setOption(barOption);
				window.addEventListener("resize", function() {
					bar.resize();
				});
			}

			function generateWordCloud(data1, canvasId) {
				var canvas = echarts.init(document.getElementById(canvasId));
				var option = {
					tooltip: {
						show: true
					},
					series: [{
						type: "wordCloud",
						gridSize: 8,
						maskImage: maskImage,
						sizeRange: [15, 50],
						shape: 'pentagon',
						width: 500,
						height: 500,
						textStyle: {
							normal: {
								color: function() {
									return 'rgb(' + [
										Math.round(Math.random() * 160),
										Math.round(Math.random() * 160),
										Math.round(Math.random() * 160)
									].join(',') + ')';
								}
							},
							emphasis: {
								shadowBlur: 10,
								shadowColor: '#333'
							}
						},
						data: data1
					}]
				};
				canvas.setOption(option);
				window.addEventListener("resize", function() {
					canvas.resize();
				});
			}
			$(function() {
				maskImage.onload = function() {
					var urlForPicture = "/detail/picture/" + /*[[${sightId}]]*/ "";
					//请求好评形容词词云
					$.ajax({
						async: true,
						type: 'post',
						url: urlForPicture + "/1",
						success: function(result, status, xhr) {
							generateWordCloud(result, 'ga');
						}
					});
					//请求好评名词词云
					$.ajax({
						async: true,
						type: 'post',
						url: urlForPicture + "/2",
						success: function(result, status, xhr) {
							generateWordCloud(result, 'gn');
						}
					});
					//请求差评形容词词云
					$.ajax({
						async: true,
						type: 'post',
						url: urlForPicture + "/3",
						success: function(result, status, xhr) {
							generateWordCloud(result, 'ba');
						}
					});
					//请求差评名词词云
					$.ajax({
						async: true,
						type: 'post',
						url: urlForPicture + "/4",
						success: function(result, status, xhr) {
							generateWordCloud(result, 'bn');
						}
					});
				};
				//请求评论数据
				var urlForData = "/detail/" + /*[[${sightId}]]*/ "";
				$.ajax({
					async: true,
					type: 'get',
					url: urlForData,
					success: function(result, status, xhr) {
						generatePie(result);
						generateBar(result);
					}
				});
			});
		</script>
	</body>
</html>
