<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head片段，引用css -->
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${title}">标题</title>
    <meta name="description" content="eTravel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../static/css/cs-skin-elastic.css" th:href="@{/css/cs-skin-elastic.css}">
    <link rel="stylesheet" href="../../static/css/lib/datatable/dataTables.bootstrap.min.css" th:href="@{/css/lib/datatable/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <!-- layui Css -->
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- sightComments CSS  -->
    <link rel="stylesheet" href="../../static/css/sightComments.css" th:href="@{/css/sightComments.css}">
    <link rel="stylesheet" href="../../static/css/sightvote.css" th:href="@{/css/sightvote.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>
<body>
    <aside id="left-panel" class="left-panel" th:fragment="aside">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-title">主菜单</li><!-- /.menu-title -->
                    <li>
                        <a href="#" th:href="@{/}" class="dropdown-toggle"> <i class="menu-icon fa fa-server"></i>浏览景区</a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>景区分析</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-bar-chart"></i><a th:href="@{/SightVisualization/全国}" target="_blank">全国热门景区分析</a></li>
                            <li><i class="menu-icon fa fa-line-chart"></i><a th:href="@{/SightVisualization/北京}" target="_blank">各省热门景区分析</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/tourismVisualization"> <i class="menu-icon fa fa-line-chart"></i>中国旅游业分析及预测</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/sighttravels}"> <i class="menu-icon fa fa-file-word-o"></i>查看游记 </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/sightvote}"> <i class="menu-icon fa fa-thumbs-up "></i>投出一票 </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>

    <div id="right-panel" class="right-panel" th:fragment="rightPanel">
        <!-- Header-->
        <header id="header" class="header" th:fragment="rightPanelHeader">
            <div class="top-left">
                <div class="navbar-header">
                    <div class="navbar-brand"><i>
                        <h2>eTravel</h2>
                    </i></div>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search Sight..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="user-area dropdown float-right" th:if="${session.user}==null">
                            <a style="text-decoration: none; font-size: 16px;" th:href="@{/admin}">登录/注册</a>
                        </div>

                        <div class="user-area dropdown float-right" th:if="${session.user}!=null">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" th:src="@{${session.user.avatar}}" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#" th:href="@{/admin/user/updatePage}" th:target="_blank"><i class="fa fa-user"></i>个人信息</a>

                                <a class="nav-link" href="#"><i class="fa fa-bell-o"></i>消息通知 <span class="count">13</span></a>

                                <a class="nav-link" href="#" th:href="@{/admin/t_votes}"><i class="fa fa-cog"></i>发起投票</a>

                                <a class="nav-link" href="#" th:href="@{/admin/t_travels}"><i class="fa fa-cog"></i>撰写游记</a>

                                <a class="nav-link" href="#" th:href="@{/admin/logout}"><i class="fa fa-power-off"></i>注销登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->
        <!-- Header-->
    </div>
</body>

<!-- js片段，引用s库 -->
<th:block th:fragment="js">
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script src="../../static/js/lib/data-table/datatables.min.js" th:src="@{/js/lib/data-table/datatables.min.js}"></script>
    <script src="../../static/js/lib/data-table/dataTables.bootstrap.min.js" th:src="@{/js/lib/data-table/dataTables.bootstrap.min.js}"></script>
    <script src="../../static/js/lib/data-table/dataTables.buttons.min.js" th:src="@{/js/lib/data-table/dataTables.buttons.min.js}"></script>
    <script src="../../static/js/lib/data-table/buttons.bootstrap.min.js" th:src="@{/js/lib/data-table/buttons.bootstrap.min.js}"></script>
    <script src="../../static/js/lib/data-table/jszip.min.js" th:src="@{/js/lib/data-table/jszip.min.js}"></script>
    <script src="../../static/js/lib/data-table/vfs_fonts.js" th:src="@{/js/lib/data-table/vfs_fonts.js}"></script>
    <script src="../../static/js/lib/data-table/buttons.html5.min.js" th:src="@{/js/lib/data-table/buttons.html5.min.js}"></script>
    <script src="../../static/js/lib/data-table/buttons.print.min.js" th:src="@{/js/lib/data-table/buttons.print.min.js}"></script>
    <script src="../../static/js/lib/data-table/buttons.colVis.min.js" th:src="@{/js/lib/data-table/buttons.colVis.min.js}"></script>
    <script src="../../static/js/init/datatables-init.js" th:src="@{/js/init/datatables-init.js}"></script>
    <!-- layui js -->
    <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="../../static/js/sightvote.js" th:src="@{/js/sightvote.js}"></script>
    <script src="../../static/js/sighttravels.js" th:src="@{/js/sighttravels.js}"></script>
    <script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/jquery.scrollTo.min.js" th:src="@{/js/jquery.scrollTo.min.js}"></script>
</th:block>


</html>