<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/CNSightvisualization.css}"/>
</head>
<body>
    <div class="borderBox" th:fragment="borderBox">
        <img th:src="@{/img/bd-1.png}" class="bd1">
        <img th:src="@{/img/bd-2.png}" class="bd2">
        <img th:src="@{/img/bd-3.png}" class="bd3">
        <img th:src="@{/img/bd-4.png}" class="bd4">
    </div>
</body>
</html>